:root {
	background-color: #fff;
}

.App {
  position: relative;
  color: #202020;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
  border-radius: 10px;
  min-height: calc(100vh - 6rem);
}

.Content {
	margin-top: 3rem;

  .Contacts {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: #e32044;

    @media (max-width: 375px) {
      flex-direction: column;
      margin-top: 30px;
    }

    &-link {
      margin-right: 12px;
      cursor: pointer;
      color: inherit;
      display: inline-flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: flex;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 375px) {
        margin-right: 0;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    small {
      line-height: 1.5;
      font-size: 14px;
      font-weight: 400;

      @media (max-width: 375px) {
        font-size: 16px;
      }
    }
  }
}

.Title {
  position: absolute;
  top: 2rem;
  color: #e32044;
  font-size: 18px;
  font-weight: bold;
}

.Text {
  font-size: 1.8rem;
}

.Offline {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1024px) {
    display: none;
  }

  svg {
    width: 38px;
    height: auto;
    margin-bottom: 10px;
  }

  &-text {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1;
    cursor: inherit;
    border-radius: 10px;
    padding: 3px 7px;
    background-color: #000;
  }

  &-tooltip {
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px #e32044;
    width: 180px;
    position: absolute;
    left: -220px;

    img {
      margin-top: 10px;
    }
  }

  &:hover {
    .Offline-text {
      animation: moving 2s infinite linear;
    }
  }
}

@keyframes moving {
  100% {
    transform: translateY(-40%);
  }
}

.OfflineWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f6f6f6;
}

.OfflineContent {
  font-size: 18px;
  line-height: 23px;
  border-radius: 10px;
  width: 360px;
  padding: 1.8rem;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 1.2s;
  animation-name: slidein;

  @media (max-width: 375px) {
    width: 328px;
  }

  @keyframes slidein {
    from {
      margin-top: 30px;
      opacity: 0;
    }

    to {
      margin-top: 0;
      opacity: 1;
    }
  }

  .author {
    margin-top: 20px;
    font-size: 14px;
  }
}

.TalksSection {
	margin-top: 3.4rem;

	ul {
		padding-left: 1rem;
		margin: 0;
	}

	a {
		color: #202020;
	}
}

.ReposContainer {
	margin-top: 2rem;
	max-width: 60%;
}

.ReposCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
}

.RepoCard {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 14px;
}

.SectionTitle {
	font-size: 1rem;
  color: #e32044;
  font-weight: 600;
  margin-bottom: 1rem;
}

.RepoName {
	color: #202020;
	text-decoration: none;
}

.loader {
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.App {
		height: 100%;
	}
	.ReposContainer {
		max-width: 100%;
	}

  .ReposCardContainer {
	grid-template-columns: repeat(1, 1fr);
  }
}
